extends layout 

block content
    h1= title
    .new-message-form
        form(method="POST", action="/new")
            .input 
                input(type="text", name="user", id="user", placeholder="Username", maxlength="50", required)
            .input 
                textarea(name="text", id="text", placeholder="Message", maxlength="500" required)
            .buttons
                a.button(href="/") Cancel
                button.button(type="submit") Submit
