extends layout

block content
  .message-board
    h1 Message Board
    .messages#messagesDiv
      each message in messages
        .message 
          .message-header
            strong= message.user
            span.message-date= message.formattedDate
          p= message.text

  script(src="./javascripts/scroll.js")
