extends layout

block content
  h1= title
  .message-board
    .messages#messagesDiv
      each message in messages
        .message
          .message-header
            strong= message.user
            span.message-date= message.formattedDate
          p.message-text= message.text
  a(href="/new")
      button.button New Message 
  script(src="./javascripts/scroll.js")
