:root {
  --black: #212529;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
}

.message-board {
  border: solid 2px var(--black);
  border-radius: 10px;
  width: 30vw;
  padding: 20px;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  height: 80vh;
}

.message-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.message {
  padding: 0px 20px;
}
